@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #24034d;
    color: #F1D3A5;
    padding-left: 5px;
}

h2 {
    font-family: 'Square Peg', 'cursive';
    font-size: 9vh;
    padding-bottom: 3vh;
   
}

h3 {
    padding: 5px;
}

h3 > a {
    font-size: .95em;
    text-decoration: none;
    color: #F1D3A5;
}

h3 > a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 40px;
    font-size: 2.3vmin;
    line-height: 1.5em;
}

section.imagem {
    background-color: gray;
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

section#loucura {
    background-image: url('../imagens/anossaloucura-edit.jpg');
    background-position: left bottom;
    padding-right: 40px;
    text-align: right;
}

section#loucura > h2 {
    color: #74B4BF;
    text-shadow: 1px 1px 3px black;
}

section#loucura > p {
    display: inline-block;
    margin-left: auto;
    box-shadow: inset 0px 0px 9px 0px whitesmoke;
}

section#loucura img {
    background-color: #ffffff80;
    border-radius: 10px;
    box-shadow: 0px 2px 4px black;
    margin: 2vh 0px 0px .5vw;
}

section#loucura img:hover {
    background-color: #74B4BF;
}

section#san {
    background-image: url('../imagens/asadisse-edit.jpg');
}

section#san > h2 {
    color: #502f17;
    text-shadow: 1px 1px 1px black;
}

section#san > p {
    display: inline-block;
    background-color: #ffffffbf;
    box-shadow: inset 0px 0px 9px -2px black;
}

section#san img {
    background-color: #ffffff8a;
    border-radius: 10px;
    box-shadow: 0px 2px 4px black;
    margin: 2vh .5vw 0px 0px;
}

section#san img:hover {
    background-color: #502f17;
}

section#princ {
    background-image: url('../imagens/atiprincesa.jpg');
}

section#princ > h2 {
    color: goldenrod;
    text-shadow: 1px 1px 1px black;
}

section#princ > p {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: inset 0px 0px 9px -2px black;
}

section#princ img {
    background-color: #ffffffb2;
    border-radius: 10px;
    box-shadow: 0px 2px 4px black;
    margin: 2vh .5vw 0px 0px;
}

section#princ img:hover {
    background-color: goldenrod;
}

section#admir {
    background-image: url('../imagens/admintsecreto-edit.jpg');
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#admir h2 {
    padding-left: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}

section#admir p {
    display: inline-block;
    margin-left: 8vw;
    text-align: center;
    box-shadow: inset 0px 0px 9px -2px black;
}

section#admir img {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px black;
}

section#admir img:hover {
    background-color: #8E8E9A;
}

section#admir img.exc {
    margin: 2vh .5vw 0px 27vw;
}

#mano {
    background-color: black;
    color: whitesmoke;
    padding: 3px;
    border-radius: 5px;
    margin-left: -1px;
}

section#abort {
    background-image: url('../imagens/amoresabortados-edit.jpg');
    padding-right: 40px;
    text-align: right;
}

section#abort > h2 {
    text-shadow: 2px 2px 2px whitesmoke;
}

section#abort > p {
    display: inline-block;
    margin-left: auto;
    box-shadow: inset 0px 0px 9px -2px black;
}

section#abort img {
    background-color: #ffffffb2;
    border-radius: 10px;
    box-shadow: 0px 2px 4px black;
    margin: 2vh 0px 0px .5vw;
}

section#abort img:hover {
    background-color: #722d3a;
}

section#deturp {
    background-image: url('../imagens/aoedeturpar-edit.jpg');
    background-position: right center;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#deturp h2 {
    color: gold;
    text-shadow: 2px 2px 4px black;
    text-align: center;
}

section#deturp p {
    display: inline-block;
    
    text-align: center;
    box-shadow: inset 0px 0px 9px -2px black;
}

section#deturp img {
    background-color: #ffffffb2;
    border-radius: 10px;
    box-shadow: 0px 2px 4px black;
}

section#deturp img:hover {
    background-color: gold;
}

section#deturp img.exc {
    margin: 2vh 1vw 0px 20vw;
}

section#oblit {
    background-image: url('../imagens/aoeobliterar-edit.jpg');
    padding-right: 40px;
    text-align: right;
}

section#oblit > h2 {
    color: #7caa9b;
    text-shadow: 1px 1px 3px black;
    text-align: right;
}

section#oblit p {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: inset 0px 0px 9px -2px black;
}

section#oblit img {
    background-color: #ffffffb2;
    border-radius: 10px;
    box-shadow: 0px 2px 4px black;
}

section#oblit img:hover {
    background-color: #7caa9b;
}

section#oblit img.exc {
    margin: 2vh 1vw 0px 4vw;
}

section#doninha > p {
    display: inline-block;
    padding: 15px;
    background-color: #b7caf0;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}

section#procura > p {
    display: inline-block;
    padding: 15px;
    background-color: #b7caf0;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}

section#procura img {
    margin: 2vh .5vw 0px 0px;
}

section#flor > p {
    display: inline-block;
    padding: 15px;
    background-color: #b7caf0;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}

section#flor img {
    margin: 2vh .5vw 0px 0px;
}

section#acrost > p {
    display: inline-block;
    padding: 15px;
    background-color: #b7caf0;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}

section#acrost img {
    margin: 2vh .5vw 0px 0px;
}

section#colet > p {
    display: inline-block;
    padding: 15px;
    background-color: #b7caf0;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}

section#colet img {
    margin: 2vh .5vw 0px 0px;
}

section#girass > p {
    display: inline-block;
    padding: 15px;
    background-color: #b7caf0;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}

section#girass img {
    margin: 2vh .5vw 0px 0px;
}

section#esparg > p {
    display: inline-block;
    padding: 15px;
    background-color: #b7caf0;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}

section#esparg img {
    margin: 2vh .5vw 0px 0px;
}

p.ima {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 20px;
    text-align: left;
}

.lumi {
    color: #521e18;
    text-shadow: .5px .5px 1px rgb(171, 102, 70, 0.5);
}

img.borda {
    border: 1px solid transparent;
}

img.borda:hover {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.4);
    box-shadow: 0px 2px 4px black;
}

span {
    text-shadow: 0px 0px 1px gray;
}