@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

:root {
    --color1: #E3170A;
    --color2: #2F0601;
    --color3: #000000;
    --color4: #6E6A6F;
    --color5: #F3EEE5;

    --fonte-padrao: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-image: url('../imagens/fundodia.jpg');
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, lightblue, lightskyblue);
    height: 25vh;
    padding-top: 25px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

header > h1 {
    background-color: var(--color5);
    width: 630px;
    font-weight: bold;
    font-size: 5em;
    font-family: 'Square Peg', 'cursive';
    padding: 10px 15px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

nav {
    background-color: var(--color5);
    width:  630px;
    padding: 10px 0px 10px 0px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

nav > a {
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Square Peg', 'cursive';
    text-decoration: none;
    color: black;
    margin-right: 5px;
    padding: 5px;
}

a:hover {
    background-color: black;
    color: var(--color5);
}

main {
    background-color: var(--color5);
    width: 630px;
    margin: auto;
    padding: 0px 20px 0px 20px;
    font-size: 1.1em;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

main > h2 {
    font-weight: bold;
    font-size: 3.5em;
    font-family: 'Square Peg', 'cursive';
    padding: 10px 10px;
}

main > p {
    padding: 5px;
}

footer {
    background-color: var(--color5);
    width: 630px;
    margin: auto;
    text-align: right;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
}

